# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^mobile/list/$   rest.php?view=all [nc,qsa]
RewriteRule ^mobile/list/([0-9]+)/$   rest.php?view=single&id=$1 [nc,qsa]